<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose recipes</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Mongoose recipes</h1>
    </header>

    <nav>
        <a href="/">Start</a>
        <a href="/ingredients">Ingredients</a>
        <a href="/recipes">Recipes</a>
    </nav>

    <main>
        {{{body}}}
    </main>

    <footer>
        Footer text here...
    </footer>
</body>
</html>